* {
  margin: 0;
}
.test {
  position: relative;
  height: 5000px;
  width: 20px;
  background-color: black;
}

/* top bar */
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.top-bar {
  height: 5vh;
  width: 100%;
  background-color: rgb(84, 84, 167);
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.img-logo {
  width: 4vh;
  height: 4vh;
  margin-left: 10vw;
}
.round {
  border-radius: 50%;
  overflow: hidden;
}
.search-img {
  height: 2vh;
  position: relative;
  left: -25px;
  top: 2px;
}
.search-bar {
  outline-width: 0px;
  padding-left: 10px;
  border-radius: 15px;
  margin-left: 1vw;
  height: 2.5vh;
  align-items: center;
}
.notification-box {
  display: flex;
  /* position: relative;
  left: 50%; */
  align-items: center;
  line-height: 4vh;
  margin-left: 50vw;
}

.prof-img-not {
  width: 4.5vh;
  height: 4.5vh;
}
.notification {
  height: 3vh;
  padding-left: 1vh;
}
/* left side */
.profile-panel {
  position: sticky;
  top: 0px;
  display: flex;
  height: fit-content;
  width: 20vw;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10vw;
  padding-bottom: 2vh;
}

.user-img-panel {
  height: 7vh;
  width: 7vh;
  margin-top: 1vh;
  margin-left: 1vw;
}
.profile-text {
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 60%;
}
.separator-img {
  height: 2vh;
  width: 100%;
}

.left-profile-img {
  height: 4vh;
  width: 4vh;
}
.job-box {
  margin-top: 2vh;
  margin-left: 2vw;
}

/* mid-side */
.post-panel-main {
  margin-left: 1vw;
}
.profile-post-img {
  width: 5vw;
  height: 5vw;
}
.post-panel-second {
  margin-left: 5px;

  width: 35vw;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
}
.post-img-box {
  width: 96%;
  margin-top: 2vh;
  margin-left: 2%;
}
.post-img {
  width: 100%;
  object-fit: cover;
}
.story-text {
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  text-indent: 1vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}
.like-comment {
  margin-top: 2vh;
  margin-bottom: 1vh;
  justify-content: space-around;
  font-size: 30px;
  font-weight: bold;
}
/* right side */
.ad-panel {
  position: sticky;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2);
  width: 20vw;
  margin-left: 2vw;
  top: 0px;
}

.ad-img {
  margin-top: 1vw;
  margin-left: 1vw;
  width: 18vw;
  margin-bottom: 2vh;
}
.ad-text {
  margin-bottom: 1vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .notification-box {
    margin-left: 35vw;
  }

  .ad-panel {
    display: none;
  }
  .profile-panel {
    margin-left: 6vw;
    width: 30vw;
  }
  .post-panel-second {
    width: 50vw;
  }
}

@media (max-width: 425px) {
  .img-logo {
    margin-left: 2vw;
  }

  .notification-box {
    margin-left: 6vw;
  }

  .profile-panel {
    display: none;
  }

  .profile-post-img {
    width: 6vh;
    height: 6vh;
  }
  .post-panel-second {
    width: 80vw;
  }
}

.fix1 {
  align-items: flex-start;
}

.fix2 {
  margin-left: 1vw;
  margin-top: 1vh;
}

.fix3 {
  margin-left: 1vw;
}
.btn-post {
  background-color: #ffffff;
  width: 30%;
  height: 30px;
  cursor: pointer;
}

.comment-box {
  align-self: center;
  width: 90%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-text {
  width: 99%;
  height: 95%;
  border: none;
  outline: none;
  font-size: 15px;
}
.comment-content-div {
  width: 90%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}
.comment-content {
  height: fit-content;
  max-height: 200px;
  text-indent: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: rgb(244, 255, 214);
}
